li{
    list-style: none;

}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    height: 100%;
}
html{
    height: 100vh;
}
#sidebarMenu{
    position:fixed;
    left: 0;
    width: 270px;
    height: 100%;
}
.ecom-container{
    margin-top: 70px;
    margin-left: 280px;
    height: 100%;
}
.cat-links{
    color: white;
    font-weight: 600;
}
.row{
    margin: 0;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
.products img{
    width: 278px;
    height: 300px;
}

.img-detail{
    width: 50%;
    height: 320px;
}
.img-detail img{
    min-width: 350px;
    max-width: 400px;
}
.mylinks{
    display: flex;
    padding: 0;
}
.link-item{
    color: gray;
}
.top{
    height: fit-content;
}
.active-cat{
    color: black !important;
}
.radio-rating{
    display: none;

}
.myradio{
    
    
    cursor: pointer;
}
.myradio:hover i{
    color: orange !important;
}

.radio-rating:checked .myradio {
    
}
.margin-top{margin-top: 2rem;}