<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/nav.css">
    <title>Document</title>
</head>
<body>
        {% include "navbar.html" %}
        {% include "sidebar.html" %}
        <main class="ecom-container">
            <div class="d-flex gap-3 mt-3 bg-danger p-2">
                <li class="cat-list"><a href="" class="cat-links">Books</a></li>
                <li class="cat-list"><a href="" class="cat-links">Pens</a></li>
                <li class="cat-list"><a href="" class="cat-links">Bags</a></li>
                <li class="cat-list"><a href="" class="cat-links">Pencils</a></li>
                <li class="cat-list"><a href="" class="cat-links">Erasers</a></li>
            </div>
            <section class="product-container">
                <h3 class="mt-3">Products</h3>
                <div class="product-list  w-100 d-flex flex-wrap gap-3">
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class="rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class="rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class=" rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class=" rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class=" rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class=" rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class=" rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class=" rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                    <div class="products  shadow-lg p-3 bg-white rounded flex flex-column">
                        <img src=" {{ MEDIA_URL }}nike-1.jpg" alt="" width="" class=" rounded">
                        <p class="text-start px-3"><i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i> <i class="fa-solid fa-star text-warning"></i></p> 
                        <p class="text-start px-3 fw-bold ">Nike running shoes</p>
                        <p class="d-flex justify-content-between px-3 fw-bold"><span class="">$230</span><span class="bg-danger rounded p-2"><i class="fa-solid fa-cart-shopping text-white"></i></span></p>
                    </div>
                  
                </div>
            </section>
        </main>
</body>
</html>