<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/nav.css">
    <title>MeroPasal | Home</title>
</head>

<body>
    {% include "navbar.html" %}
    <main class="ecom-container mx-0 p-3" id="main-section">
        <h1>Shopping Bag</h1>
        <h4>{{myinfo|length}} items is in your Cart.</h4>
        <div class="cart_cont shadow-md bg-white p-3 ">
            <table cellpadding=30>
                <tr class="shadow-sm">
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                </tr>
                {% for myinfo in myinfo %}
                
                <tr class="shadow-lg">
                    <td class="d-flex gap-3">
                        <img src="{{myinfo.product.product_image}}"alt=""width="100">
                        <div class="d-flex flex-column gap-3">
                            <span class="text-secondary">{{myinfo.product.Category.name}}</span>
                            <span>{{myinfo.product.product_title | truncatewords:2}}</span>
                        </div>
                    </td>
                    <td>{{myinfo.product.product_price}}</td>
                    <td>{{myinfo.quantity}}</td>
                    <td>{{myinfo.total_price}}</td>
                </tr>
                {% endfor %}
             
            </table>
        </div>
    </main>
</body>

</html>